.ticket {
  border-collapse: collapse;
  border: 2px;
  table-layout: fixed;
  width: 50px;
}

.ticket td {
  font-family: arial;
  table-layout: fixed;
  text-align: center;
  border: 2px solid;
  height: 90px;
  width: 150px;
  cursor: pointer;
  color: #333;
  background-color: #eee;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.mt-40 {
  margin-top: 40px;
}

.all-number-grid {
  border-collapse: collapse;
  margin: 0 40px;
}

.all-number-grid td {
  border: 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
}

.all-number-grid td.checked {
  background-color: #60ff9f;
}

.last-checked-numbers {
  width: 250px;
  overflow-x: auto;
  margin: 0 40px;
  border: 1px solid;
}

.last-checked-numbers .last-num {
  font-size: 120px;
  margin: 0 40px;
}