<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Register">

<div class="container">

	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-8">

			<form action="/register" method="post" class="form-horizontal" role="form">
			
			    <div class="form-group">
                    <label for="name" class="col-lg-4 control-label">${i18n("login.name")}</label>
                    <div class="col-lg-8">
                        <input type="text" id="name" class="form-control" value="${(flash.name)!""}" name="name" id="name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-lg-4 control-label">${i18n("login.username")}</label>
                    <div class="col-lg-8">
                        <input type="text" id="username" class="form-control" value="${(flash.username)!""}" name="username" id="username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">${i18n("login.password")}</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmpassword" class="col-lg-4 control-label">${i18n("login.confirmpassword")}</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                    </div>
                </div>

                <button type="submit" class="btn btn-success pull-right">${i18n("register.registerNowButton")}</button>
			</form>

		</div>
	</div>
</div>

</@layout.myLayout>