<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">${i18n("header.title")}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">${i18n("header.home")}</a></li>
			</ul>
			<ul class="navbar-right nav navbar-nav">
			<#if (session.AUTH_KEY)??>
				<#if (user.name)??>
					<li><a href="#">${user.name}</a></li>
				</#if>
				<li><a href="/game">${i18n("header.new")}</a></li>
				<li><a href="/logout">${i18n("header.logout")}</a></li>
            <#else>
                <li><a href="/login" id="login">${i18n("header.login")}</a></li>
				<li><a href="/register" id="register">${i18n("header.register")}</a></li>
            </#if>
				
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>