<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    

    <div class="jumbotron">
        <h1>
            Lottobox
        </h1>  

    </div>

</@layout.myLayout>